
{% extends "base.html" %}

{% block title %}Página Principal - Mister K{% endblock %}

{% block header_title %}Bienvenido a Mister K{% endblock %}

{% block content %}

{% load static %}
  
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.034792292365!2d-70.38447645954491!3d-23.567193878884055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96ae2b391490a6f7%3A0xd2ce1df43410ba5!2sMister%20K!5e0!3m2!1sen!2scl!4v1731162582082!5m2!1sen!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    
{% endblock %}

{% block footer %}
  &copy; 2024 Mister K. Todos los derechos reservados.
{% endblock %}
